@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body {
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #24252A;
    margin: 0;
}

#mainPage {
    text-align: center;
}

#workPage {
    text-align: center;
}

#aboutPage {
    text-align: center;
}

#contactPage {
    text-align: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  .wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      /* background: linear-gradient(45deg, #FF3706, #24AADB , #27DBB1); */
      background: linear-gradient(45deg, #79bb9a, #94c2f0, #fac9c0);
      background-size: 600% 100%;
      animation: gradient 10s linear infinite;
      animation-direction: alternate;
  }
  @keyframes gradient {
      0% {background-position: 0%}
      100% {background-position: 100%}
  }

/* Navigation */
.nav__links li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: default;
    margin-right: auto;
    width: 500px;
    color: #edf0f1;
}

.logo span {
    color: rgba(0, 136, 169, 1);
    transition: all 0.3s ease 0s;
}

.logo span:hover {
    color: #edf0f1
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}



#helloTxt {
    font-size: 50px;
    height: 33vh;
}

#helloTxt span {
    color: rgba(0, 136, 169, 1);
    transition: all 0.5s ease 0s;
}

#helloTxt span:hover {
    color: white;
}

#welcomeToPortfolio {
    font-size: 40px;
    text-transform: uppercase;
}
/* 
p {
    font-size: 30px;
} */

#schoolSite {
    text-decoration: none;
    color: rgba(0, 136, 169, 1);
    transition: ease-out 0.5s;
    font-size: 30px;
}

#schoolSite:hover {
    color: white;
}

#mainTxtAbout {
    text-align: center;
    text-transform: uppercase;
}

#workTxtAbout {
    text-align: center;
}


#aboutTxt {
    font-size: 40px;
    height: 33vh;
}

#aboutMe {
    font-size: 30px;
}

#aboutMePicture {
    width: 500px;
    height: auto; 
    float: right;
    margin-right: 15px;
}

#contactTxt {
    font-size: 40px;
    height: 33vh;
}

#fourBit /* Used in Main Page & Work Page */ {
    color:#FF8C00;
    transition: all 0.5s ease 0s;
    font-size: 30px;
}

#fourBit:hover {
    color: #edf0f1;
}

#mainFourBitLink {
    font-size: 30px;
}


#copyright {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: transparent;
}

.competition {
    font-size: 50px;
}


#name {
    color: rgba(0, 136, 169, 1);
    transition: all 0.5s ease 0s;
}

#name:hover {
    color: #edf0f1;
}

#workPreview {
    font-size: 40px;
}



div {
    display: block;
}
ol {
    display: block;
}